node_modules
public/js
public/assets/scenes/blender/tempateLevel.blend1
public/assets/scenes/tempateLevel.log
public/assets/scenes/tempateLevel.babylon.manifest
public/assets/scenes/Level1.babylon.manifest
public/assets/scenes/Level1.log